@page
@model FlightFinder.Pages.BookModel
@{
    ViewData["Title"] = "Booking";
}

<link rel="stylesheet" type="text/css" href="~/css/book.css">

<a class="nav-item">
    <div class="text-center">
        <b style="font-size:30px">You are reserving seats for the following flight:</b> <!--Display current user logged in-->
    </div>
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Departure City</th>
                <th scope="col">Arrival City</th>
                <th scope="col">Flight Date</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Estimated Flight Time</th>
                <th scope="col">Registration Number</th>
                <th scope="col">Aircraft Type</th>
                <th scope="col">Flight Distance</th>
                <th scope="col">Total Seats</th>
                <th scope="col">Open Seats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(m => m.Flight_ID[0])</th>
                <td>@Html.DisplayFor(m => m.Departure_City[0])</td>
                <td>@Html.DisplayFor(m => m.Arrival_City[0])</td>
                <td>@Html.DisplayFor(m => m.Flight_Date[0])</td>
                <td>@Html.DisplayFor(m => m.Departure_Time[0])</td>
                <td>@Html.DisplayFor(m => m.Arrival_Time[0])</td>
                <td>@Html.DisplayFor(m => m.E_Flight_Time[0])</td>
                <td>@Html.DisplayFor(m => m.Aircraft_Reg_Num[0])</td>
                <td>@Html.DisplayFor(m => m.Aircraft_Type[0])</td>
                <td>@Html.DisplayFor(m => m.Flight_Distance[0])</td>
                <td>@Html.DisplayFor(m => m.Total_Seats[0])</td>
                <td>@Html.DisplayFor(m => m.Open_Seats[0])</td>
            </tr>        

        </tbody>
    </table>

    <div>
        <b>Select payment method:</b>
        <select name="card" id="card">
            @for (int i = 0; i < Model.ListSize; ++i) {
                <option value="@Model.Card_Number[i]">Visa @Model.Card_Number[i]</option>
            }
        </select>

        <div>
            <form id="card" method="post">
                <button class="btn btn-info" name="submit" type="submit" value="N">Add New Card</button>
            </form>
        </div>
    </div>

    <form id="confirm" method="post">
        <div>
            <button class="btn btn-success" name="submit" type="submit" value="C">Confirm Booking</button>
        </div>
    </form>
</a>