@page
@model FlightFinder.Pages.BookModel
@{
    ViewData["Title"] = "Booking";
}

<link rel="stylesheet" type="text/css" href="~/css/book.css">

<a class="nav-item">
    <div class="text-center">
        <b style="font-size:30px">You are reserving seats for the following flight:</b> <!--Display current user logged in-->
    </div>
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Departure City</th>
                <th scope="col">Arrival City</th>
                <th scope="col">Flight Date</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Estimated Flight Time</th>
                <th scope="col">Registration Number</th>
                <th scope="col">Aircraft Type</th>
                <th scope="col">Flight Distance</th>
                <th scope="col">Total Seats</th>
                <th scope="col">Open Seats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(m => BookModel.Flight_ID[0])</th>
                <td>@Html.DisplayFor(m => BookModel.Departure_City[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Arrival_City[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Flight_Date[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Departure_Time[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Arrival_Time[0])</td>
                <td>@Html.DisplayFor(m => BookModel.E_Flight_Time[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Aircraft_Reg_Num[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Aircraft_Type[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Flight_Distance[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Total_Seats[0])</td>
                <td>@Html.DisplayFor(m => BookModel.Open_Seats[0])</td>
            </tr>

        </tbody>
    </table>
</a>
       

<div>
    <form id="confirm" method="post" runat="server">

        <b>Select payment method:</b>
        <select id="Cards" name="Cards" asp-for="LastFour_Card">
            <option value="">---</option>
            @for (int i = 0; i < Model.ListSize; ++i) {
                <option value="@Pages.BookModel.Card_Number[i]">Visa @Pages.BookModel.Card_Number[i]</option>
            }
        </select>

        <br /><br />

        <b>Select seats to reserve:</b>
        <select id="Seats" name="Seats" asp-for="Seats_Reserved">
            @for (int i = 0; i < BookModel.MaxSeats; ++i) {
                <option value="@(i+1)">@(i+1)</option>
            }
        </select>

        <button class="btn btn-success" name="submit" type="submit" value="C">Confirm Booking</button>

    </form>
</div>

<div>
    <form id="card" method="post" runat="server">
        <button class="btn btn-info" name="submit" type="submit" value="N">Add New Card</button>
    </form>
</div>


