@page
@model FlightFinder.Pages.UserModel
@{
    ViewData["Title"] = "User";
}

<body>
    <a class="nav-item">
        <label>Current User ID: >@Html.DisplayFor(m => m.User_ID)</label> <!--Display current user logged in-->
    </a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Departure City</th>
                <th scope="col">Arrival City</th>
                <th scope="col">Flight Date</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Estimated Flight Time</th>
                <th scope="col">Registration Number</th>
                <th scope="col">Aircraft Type</th>
                <th scope="col">Flight Distance</th>
                <th scope="col">Total Seats</th>
                <th scope="col">Open Seats</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.TableSize; ++i) {
                <tr>
                    <th scope="row">@Html.DisplayFor(m => m.Flight_ID[i])</th>
                    <td>@Html.DisplayFor(m => m.Departure_City[i])</td>
                    <td>@Html.DisplayFor(m => m.Arrival_City[i])</td>
                    <td>@Html.DisplayFor(m => m.Flight_Date[i])</td>
                    <td>@Html.DisplayFor(m => m.Departure_Time[i])</td>
                    <td>@Html.DisplayFor(m => m.Arrival_Time[i])</td>
                    <td>@Html.DisplayFor(m => m.E_Flight_Time[i])</td>
                    <td>@Html.DisplayFor(m => m.Aircraft_Reg_Num[i])</td>
                    <td>@Html.DisplayFor(m => m.Aircraft_Type[i])</td>
                    <td>@Html.DisplayFor(m => m.Flight_Distance[i])</td>
                    <td>@Html.DisplayFor(m => m.Total_Seats[i])</td>
                    <td>@Html.DisplayFor(m => m.Open_Seats[i])</td>
                </tr>
            }
        </tbody>
    </table>
</body>